# 基础依赖
fastapi>=0.95.0
uvicorn>=0.21.1
requests>=2.28.2
python-dotenv>=1.0.0

# 数据库依赖 (PostgreSQL 替换 MySQL)
# mysql-connector-python>=8.0.32
psycopg[binary]>=3.1.18
sqlalchemy>=2.0.5

# Redis依赖
redis>=4.5.1

# 本地tar.gz包
./local_packages/ashare_core-1.0.6.tar.gz